* {
  margin: 0;
  padding: 0;
}

.imgFondo {
  background-image: url(../assets/img/hawaii.jpg);
  height: 80vh;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: soft-light;
}

.color-boton {
  background-color: rgb(150, 201, 62);
  width: 50%;
  display: block;
  margin: auto;
  padding: 0.75rem;
  border: none;
  border-radius: 50px;
}

.color_footer {
  background-color: rgb(29, 69, 94);
}

.compra_ticket {
  background-color: rgb(41, 167, 68);
}

.back-nav {
  background-color: rgb(53, 58, 64);
}

ul {
  list-style: none;
}

.sinsub {
  text-decoration: none;
}

#Cardg1 {
  border-color: blue;
}

#Cardg2 {
  border-color: green;
}

#Cardg3 {
  border-color: orange;
}
